extends ../layout.jade

block content
	.container
		.row
			.col-lg-12.text-center
				#header
					h1 Create a Group
				.newuserform
					form(role='form', action="/groups/create" method='POST')
						.form-group
							label(for='name') Group Name
							input#name.form-control(placeholder='Enter Group Name', name="name")
						.form-group
							label(for='price') Buy-in Price
							input#price.form-control(placeholder='Buy-in Price', name="price")
						.form-group
							button#info-submit.btn.btn-default Submit

