extends ../layout

block content
		.container
			.row
				.col-lg-12.text-center
					h1 Current Groups
					each val, index in groups
							p Name: #{val.name}
							p Buy-In Price: #{val.price}
							p
								a(href="/groups/edit/#{val.groupId}")
									button(type='button') Edit Group
								a(href="/groups/delete/#{val.groupId}")
									button(type='button') Delete Group