extends ../layout

block content
	h1 Your Questions
	ol
		each val,index in data
			li
				p Title: #{val.title}
				p Content: #{val.content}
				p
					a(href="/answers") show answers
					span    
					a(href="/questions/#{val.id}") edit question
					span    
					a(href="/questions/delete/#{val.id}") delete question

		form(action='/questions', method="POST")
			//- match the action route to the post route in app.js
			div.input
				span.label Title
				input(type="text", name="title")
			div.input
				span.label Content
				input(type="text", name="content")
			div.actions
				input(type="submit", value="add")