extends ../layout

block content
	h1 Your Groups
		ol
			each val, index in groups
				li
					p Name: #{val.name}
					p Buy-In Price: #{val.price}
					p
						a(href="/groups") show groups
						span
						a(href="/groups/edit/#{val.groupId}") edit group
						span
						a(href="/groups/delete/#{val.groupId}") delete group
