extends ../layout

block content
	.container
		.row
			.col-lg-12.text-center
				#header
					h2 Sign In To Your Account
				.loginform
					form(role='form', method='POST')
						.form-group
							label(for='Username') Username
							input#username.form-control(type='username', placeholder='Enter username', name='username')
						.form-group
							label(for='Password') Password
							input#password.form-control(type='password', placeholder='Password', name='password')
							button#user-submit.btn.btn-default Submit
