extends layout

block content
  // Page Content
  .container
    .row
      .col-lg-12.text-center
        h1 Get Your Eggersize On!!

        p.lead Join a group, pay the fee, check-in your workouts then win all the MONEY!!!
    // /.row
  // /.container
  // jQuery Version 2.1.3
    script(src='scripts/jquery.min.js')
  // Bootstrap Core JavaScript
    script(src='scripts/bootstrap.min.js')
