extends layout

block content
  // Page Content
  .container
    .row
      .col-lg-12.text-center
        h1 Get Your Eggersize On!!

        p.lead Join a group, pay the fee, check-in your workouts then win all the MONEY!!!

